.patient-login {
  background: white;
  border-radius: 0.75rem;
  margin-top: 8rem;
  margin-bottom: 8rem;
  padding-top: 0.5rem;
}

.patient-login {
  background: white;
  border-radius: 0.75rem;
  margin-top: 8rem;
  margin-bottom: 8rem;
  padding-top: 0.5rem;
}

.patient-login .login-form {
  padding: 10%;
  margin-top: 10%;
  padding-bottom: 5%;
}

.btnRegister {
  float: right;
  border: none;
  border-radius: 1.5rem;
  padding: 2%;
  background: #0062cc;
  color: #fff;
  font-weight: 600;
  width: 50%;
  cursor: pointer;
}

@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}

.care {
  margin-top: -25%;
  margin-left: 60%;
  color: white;
}
