body {
  background: -webkit-linear-gradient(left, #3931af, #00c6ff);
  background-size: cover;
  font-family: "IBM Plex Sans", sans-serif;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-outline-light {
  border-radius: 1.5rem;
}

.btn-outline-light:hover {
  color: #0076d4;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}
